:root {
  --primary-color: #4559b3;
  --secondary-color: #46c9f3;
  --tertiary-color: #f0c24b;
  --secondary-color-2: #fc6c93;

  --white: #ffffff;
  --black: #000000;
  --color-1: #323663;

  --theme-color: #fdf5f2;

  --ff-fredoka: "Fredoka", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-Baloo: "Baloo 2";
}

/*::selection {background: #050607; color: #FFFFFF; text-shadow: none;}*/

[class^="box-"] {
  display: none;
}

[class^="box-"].showfirst {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 600;
  line-height: 1.13;
  font-family: var(--ff-fredoka) !important;
  color: #ffffff;
}

p {
  font-family: var(--ff-roboto);
  display: block;
  color: #ffffff;
  line-height: 1.8;
}

*:hover,
*:focus,
* {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a,
input[type="submit"] {
  -webkit-transition: all 0.4s ease-In-out;
  -moz-transition: all 0.4s ease-In-out;
  -o-transition: all 0.4s ease-In-out;
  transition: all 0.4s ease-In-out;
  display: inline-block;
  cursor: pointer;
  font-weight: 500 !important;
  font-family: var(--ff-fredoka) !important;
}

p,
a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Baloo 2", cursive;
}

a:hover {
  text-decoration: none;
}

.slick-dots {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex !important;
  justify-content: center;
}

.slick-dots > li {
  display: inline-block;
  margin: 0 8px;
}

.slick-dots > li button {
  padding: 0;
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border-radius: 50px;
  position: relative;
  border: 1px solid #ffffff;
}

.slick-dots > li button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 7px;
  height: 7px;
  border-radius: 50px;
}

.slick-dots > li.slick-active button::before {
  background-color: var(--primary-color);
}

.slick-dots > li.slick-active button {
  border-color: var(--primary-color);
}

.slick-arrow {
  font-size: 0;
  cursor: pointer;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

textarea,
select,
input[type],
textarea,
select,
button {
  width: 100%;
}

::-webkit-input-placeholder {
  color: #3b3b3b;
}

::-moz-placeholder {
  color: #3b3b3b;
}

:-ms-input-placeholder {
  color: #3b3b3b;
}

:-moz-placeholder {
  color: #3b3b3b;
}

/* Custom Radio Button */
.customradio {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  font-weight: 400;
  color: #ffffff;
}

.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 11px;
  width: 11px;
  border-radius: 3px;
  background-color: #e0e0e0;
}

.customradio input:checked ~ .checkmark {
  background: #ff6101;
}

/* Hamburger Menu */
.hamburger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 8;
  display: none;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--primary-color);
  position: absolute;
  transition: 0.6s all;
  border-radius: 100px;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transform-origin: left;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
  transform-origin: right-center;
}

.hamburger.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 12px;
  transform-origin: right-center;
}

/* Global Css */
.ovrer-hidden {
  overflow: hidden;
}

.overlay::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(3 19 43 / 90%);
  z-index: 4;
}

.overlay {
  display: none;
}

/* Dropdown CSS*/
ul.dropdown {
  position: absolute;
  width: 200px;
  left: -47px;
  background: var(--color-1);
  padding: 16px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #00000014;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

ul.dropdown li a:before {
  display: none;
}

@keyframes btotreverse {
  0% {
    top: 75px;
    opacity: 1;
  }

  100% {
    top: 115px;
    opacity: 0;
  }
}

.dropdown-nav {
  position: relative;
}

.dropdown-nav:hover ul.dropdown {
  z-index: 9;
  opacity: 1;
}

@keyframes btot {
  0% {
    top: 115px;
    opacity: 0;
  }

  100% {
    top: 24px;
    opacity: 1;
  }
}

ul.dropdown li {
  display: block;
}

ul.dropdown li a {
  display: block;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  color: #fff;
  padding: 10px 0;
  border-bottom: 2px dotted #fff;
}

ul.dropdown li:last-child a {
  border-bottom: 0;
}

ul.dropdown li a:hover {
  color: var(--secondary-color-2);
}

.dropdown-nav {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.dropdown-nav:hover {
  overflow: visible;
}

button {
  border: none;
  font-family: var(--ff-fredoka);
}

/* General CSS START */

ul.inline-block li {
  display: inline-block;
  margin-right: 15px;
}

ul.inline-block li:last-child {
  margin-right: 0;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.inline-flex li {
  margin-right: 15px;
}

.inline-flex li:last-child {
  margin-right: 0;
}

.over-hidden {
  overflow: hidden;
}

.element {
  position: absolute;
}

.element-2 {
  left: 0;
  top: 0;
}

.element-3 {
  bottom: 0;
  right: 0;
}

ul {
  font-size: 0;
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

/*===== PROJECT UTILITES START =====*/

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-40 {
  padding-bottom: 40px !important;
}

/* TO ADD WAVES ON SECTIONS */

*:has(.prop) {
  position: relative;
}

.prop {
  position: absolute;
  z-index: 1;

  --inline-spacing: 5%;
  --top-spacing: 20%;
  --bottom-spacing: 20%;
}

.prop.prop-screen-end {
  --inline-spacing: 1px;
}

.prop-top-left {
  top: var(--top-spacing);
  left: var(--inline-spacing);
}

.prop-top-right {
  top: var(--top-spacing);
  right: var(--inline-spacing);
}

.prop-middle-left {
  top: 50%;
  transform: translateY(-50%);
  left: var(--inline-spacing);
}

.prop-middle-right {
  top: 50%;
  transform: translateY(-50%);
  right: var(--inline-spacing);
}

.prop-middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prop-middle-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prop-bottom-right {
  bottom: var(--bottom-spacing);
  right: var(--inline-spacing);
}

.prop-bottom-left {
  bottom: var(--bottom-spacing);
  left: var(--inline-spacing);
}

.waveProp {
  position: relative;
}

.bottomRotate::after,
.waveRotate.bottom::after {
  transform: scaleX(-1);
}
.topRotate::before,
.waveRotate.top::before {
  transform: scaleX(-1);
}

.waveProp.bottom::before {
  display: none;
}

.waveProp.top::after {
  display: none;
}

.waveProp * {
  z-index: 2;
}

/* .::before,
.::after {
  content: url(../images/wave.svg);
  z-index: 1;
  position: absolute;
  width: 100%;
  transform: scaleY(0.3);
} */

.waveProp:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background: url(../images/tickets/header-before.png) no-repeat top
    center/cover;
  width: 100%;
  height: 88px;
}

.waveProp:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background: url(../images/tickets/header-after.png) no-repeat top center/cover;
  width: 100%;
  height: 84px;
}

/* 
.waveProp::before {
  top: -167px;
  rotate: -180deg;
}

.waveProp::after {
  bottom: -154px;
} */

.section__text {
  padding-block: 40px;
}

.section__label {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--ff-Baloo);
}

.section__heading {
  font-family: var(--ff-Baloo);
  font-size: 40px;
  font-weight: 700;
  line-height: 101%;
  text-transform: capitalize;
}

.mw-40 {
  max-width: 40%;
}

.c-btn {
  padding: 13px 25px;
  border-radius: 4px;
  color: var(--white) !important;
  font-size: 16px;
}

.style-1 {
  background-color: var(--primary-color);
}

.style-2 {
  background-color: var(--secondary-color-2);
}

.style-3 {
  background-color: var(--secondary-color);
}

.style-4 {
  background-color: var(--tertiary-color);
}

.style-5 {
  background-color: var(--color-1);
}

.spacing__x {
  padding: 100px 0;
}

.spacing__x-150 {
  padding: 150px 0;
}

/* .container-1300 {
  max-width: 1290px;
} */

.mr-10 {
  margin-right: 10px;
}

.h-60 {
  height: 60px !important;
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-secondary {
  background-color: var(--secondary-color);
}

.bg-color-tertiary {
  background-color: var(--tertiary-color);
}

.bg-color-secondary-2 {
  background-color: var(--secondary-color-2);
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-tertiary {
  color: var(--tertiary-color);
}

.color-secondary-2 {
  color: var(--secondary-color-2);
}

.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-1 {
  color: var(--color-1);
}

.theme-color {
  background-color: var(--theme-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.heading-color-1 {
  color: var(--color-1);
}

.regular-color-1 {
  color: #757575;
}

.regular-color-2 {
  color: #fc6c93;
}

.bb-1 {
  border-bottom: 1px solid rgb(102 102 102 / 20%);
}

.vr {
  width: 2px;
  height: 30px;
  display: inline-block;
  margin: 0;
  background: var(--color-1);
}

.f-header {
  padding-top: 200px;
}

.f-footer {
  padding: 200px 0 150px;
}

.br-10 {
  border-radius: 10px;
}

.br-0 {
  border-radius: 0;
}

.ff-fredoka {
  font-family: var(--ff-fredoka);
}

.fs-17 {
  font-size: 17px;
}

.fs-19 {
  font-size: 19px;
}

.fs-25 {
  font-size: 25px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.fs-60 {
  font-size: 60px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.ls-3 {
  letter-spacing: 3px;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-capitalize {
  text-transform: capitalize;
}

.z-index-1 {
  z-index: 1;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.btn-list {
  display: flex;
  gap: 20px;
}

.breadcrumbs {
  display: block;
  font-size: 0;
  margin: 0 -20px;
}

.breadcrumbs > li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 20px;
}

.breadcrumbs > li:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0px;
  margin: auto;
  width: 1px;
  height: 20px;
  background-color: var(--white);
}

.breadcrumbs > li a {
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-weight: 400 !important;
  text-transform: capitalize;
}

.breadcrumbs > li:last-child:before {
  display: none;
}

.custom-input-style {
  width: 100%;
  background-color: var(--white);
  border: 0;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
  height: 80px;
  padding: 0 25px;
  border-radius: 10px;
}

.fg-mb .form-group {
  margin-bottom: 35px;
}

/* General CSS END */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px 0;
  transition: all 0.4s ease-in-out;

  z-index: 3;
  background-color: transparent;
}

header.sticky-header {
  padding: 10px 0;
  background-color: var(--white);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.banner-inner-style {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 532px;
}

.site-navigation > ul {
  text-align: right;
}

.site-navigation > ul > li {
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
}

.site-navigation > ul > li:last-child {
  margin-right: 0;
}

.site-navigation > ul > li > a {
  color: var(--primary-color);
  font-weight: 500;
  padding: 8px;
  border-radius: 4px;
}

.site-navigation > ul > li > a.c-btn {
  padding: 13px 25px;
}

.site-navigation > ul > li.is-active > a,
.site-navigation > ul > li:hover > a {
  background-color: var(--secondary-color-2);
  color: var(--white);
}

header.header-white .site-navigation > ul > li > a {
  color: var(--white);
}

header.header-white .site-navigation > ul > li > a.c-btn {
  background-color: var(--secondary-color);
}

header.header-white.sticky-header .site-navigation > ul > li > a {
  color: var(--primary-color);
}

header.header-white.sticky-header .site-navigation > ul > li:hover > a,
header.header-white.sticky-header .site-navigation > ul > li.is-active > a {
  color: var(--white);
}

.wavier-signin-info {
  text-align: center;
  padding: 60px 100px;
  border-radius: 180px 20px 180px 20px;
}

.waiver-terms-condition {
  background-color: var(--white);
  position: relative;
  padding: 40px 40px;
  border: 1px solid rgb(102 102 102 / 20%);
  border-radius: 6px;
  height: 700px;
  overflow-y: scroll;
  margin-bottom: 35px;
}

.waiver-terms-condition p:last-child {
  margin-bottom: 0;
}

.bg-color-4 {
  background-color: rgb(233 233 233 / 40%);
  padding: 40px 40px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
  border-radius: 4px;
  margin-bottom: 40px;
}

.c-check-box {
  position: relative;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.c-check-box input {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.c-check-box label {
  margin: 0;
}

footer {
  background-color: var(--primary-color);
  padding: 110px 0 0 0;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  background: url(../images/bg/footer-border.png) repeat;
  width: 100%;
  height: 35px;
}

footer .footer-top {
  margin-bottom: 70px;
}

footer .ft-nav {
  margin-bottom: 15px;
}

footer .ft-nav h3 {
  margin-bottom: 20px;
  color: var(--white);
  font-family: var(--ff-fredoka);
  font-weight: 600;
}

footer .ft-nav p {
  color: var(--white);
  margin: 0;
}

footer .ft-nav ul li {
  margin-bottom: 5px;
}

footer .ft-nav ul li a {
  color: var(--white);
}

footer .footer-bottom {
  padding: 15px 0;
  border-top: 1px solid #999999;
}

footer .copyrights {
  text-align: center;
}

footer .copyrights p {
  margin: 0;
  color: var(--white);
}

.banner {
  position: relative;
}

.banner .element-3 {
  position: absolute;
  right: 100px;
  top: 70px;
  bottom: 0;
  margin: auto;
}

.ninja-text-section {
  position: relative;
}

.ninja-text-section img.right-side {
  max-width: fit-content;
  position: relative;
  right: -8%;
}

@media (max-width: 1600px) {
  .ninja-text-section img.right-side {
    right: 0;
  }
}

.ninja-text-section img.element-2 {
  position: absolute;
  left: 30px;
  top: -5%;
}

.ninja-text-section img.element-5 {
  position: absolute;
  right: 30%;
  bottom: 0;
  margin: auto;
}

.membershipBody .ninja-text-section img.element-5,
.wallClimbingBody .ninja-text-section img.element-5 {
  position: absolute;
  right: 46%;
  bottom: 37%;
  margin: auto;
}

.membershipBody .ninja-text-section img.element-5 {
  position: absolute;
  right: 42%;
  bottom: 40%;
  margin: auto;
}

.count-listing p {
  margin: 0 0 20px;
  display: flex;
  line-height: normal;
  min-height: 45px;
  align-items: center;
}

.count-listing.small p {
  color: #757575;
  font-family: var(--ff-Baloo);
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;

  max-width: 692.805px;
  width: 100%;
  margin-bottom: 5px;
}

.count-listing p span {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 35px;
  border-radius: 50%;
  color: #fff;
  background-color: #f0c24b;
  text-align: center;
  line-height: 35px;
  margin-right: 13px;
  font-family: var(--ff-fredoka) !important;
  font-weight: 700;
}

.count-listing.small p span {
  width: 18.766px;
  height: 18.766px;
  flex: 1 0 auto;
  font-size: 10px;
  line-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.showcase-ninja-section {
  position: relative;
}

.showcase-ninja-section .element-4 {
  position: absolute;
  left: 30px;
  top: 4%;
}

.showcase-ninja-section .element-6 {
  position: absolute;
  right: 30px;
  top: 5%;
}

.showcase-ninja-section .element-7 {
  position: absolute;
  left: 30px;
  bottom: 80px;
}

.showcase-ninja-section .element-8 {
  position: absolute;
  right: 30px;
  bottom: 100px;
}

.parties-banner {
  position: relative;
  padding: 210px 0;
}

.parties-banner:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background: url(../images/parties/bg-header-parties.png) no-repeat top
    center/cover;
  width: 100%;
  height: 80px;
}

.parties-banner img {
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  margin: auto;
}

.parties-text-section {
  position: relative;
  padding: 200px 0;
}

.parties-text-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/parties/bg-text-parties-before.png) no-repeat top
    center/cover;
  width: 100%;
  height: 80px;
}

.parties-text-section:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  background: url(../images/parties/bg-text-parties-after.png) no-repeat top
    center/cover;
  width: 100%;
  height: 80px;
}

.parties-text-section .element-star {
  left: -10%;
}

.parties-text-section .element-6 {
  right: -10%;
}

.parties-text-section .element-2 {
  top: -25px;
  left: 15%;
  right: 0;
  margin: auto;
}

.parties-text-section .element-rocket {
  left: -12%;
  top: -10%;
}

.parties-text-section .star-element-2 {
  left: -7%;
  top: 15%;
}

.parties-text-section .element-5 {
  left: 0%;
  right: 0;
  margin: auto;
  top: -5%;
}

.parties-text-section .element-8 {
  right: 0%;
  top: -10%;
}

.parties-text-section .element-6.style1 {
  left: -10%;
  right: inherit;
  top: 0;
}

.parties-text-section .element-4 {
  left: 10%;
  right: 0;
  margin: auto;
}

.parties-text-section .element-3 {
  right: -10%;
  top: 0;
  bottom: inherit;
}

.barrier-birthday-section .element-rocket {
  left: -12%;
  top: -10%;
}

.barrier-birthday-section .star-element-2 {
  left: -7%;
  top: 15%;
}

.barrier-birthday-section .star-element-3 {
  right: -12%;
}

.barrier-birthday-section .star-element-4 {
  right: -8%;
  bottom: 8%;
}

.barrier-birthday-section .element-6 {
  left: -12%;
  bottom: -20%;
}

/* Packages Css */

.package-box {
  border-radius: 50px;
  background: var(--white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.package-box .price {
  position: relative;
  padding: 60px 0 80px;
  margin: 0 0 15px;
}

.package-box .price:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 52%, 100% 100%, 100% 0);
}

.package-box .price:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
}

.package-box .price span {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: block;
}

.package-box .price-content {
  padding: 0 15px 50px;
}

.package-box .price-content h6 {
  margin: 15px 0;
}

.package-box .price-content p {
  margin: 0 0 5px;
  line-height: normal;
}

.package-box .download-text-color {
  display: block;
  margin: 0 0 15px;
}

.package-box .c-btn {
  padding: 12px 60px;
  border-radius: 4px;
}

/* Package Style 1*/

.package-box.style1 .price:before {
  background: #4a5bb5;
}

.package-box.style1 .price:after {
  background: linear-gradient(90deg, #4d55b0 4.85%, #46c9f3 99.8%);
}

.package-box.style1 .price-content h6 {
  color: var(--color-1);
}

.package-box.style1 .download-text-color {
  color: #47b2e6;
}

.package-box.style1 .c-btn {
  background: linear-gradient(90deg, #46c9f3 0.13%, #4c59b2 99.75%);
}

/* package style 2*/
.package-box.style2 .price:before {
  background-color: #fa7495;
}

.package-box.style2 .price:after {
  background: linear-gradient(90deg, #fa7495 4.85%, #ffc95d 99.8%);
}

.package-box.style2 .price-content h6 {
  background: linear-gradient(180deg, #fa7892 0%, #fdb46a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.package-box.style2 .download-text-color {
  color: #fb9380;
}

.package-box.style2 .c-btn {
  background: linear-gradient(90deg, #fa7693 0.13%, #feba66 99.75%);
}

/* Cart Table */

.cart-table-view {
  margin: 0 0 40px;
}

.cart-table-view .dtd {
  padding: 15px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
}

.cart-table-view .dtd:first-child {
  border-left: 1px solid #d5d5d5;
}

.cart-table-view .t-head .dtd {
  padding: 20px 35px;
}

.cart-table-view .dtd.bor-right-0 {
  border-right: 0px;
}

.cart-table-view h6 {
  font-weight: 400;
  margin: 0;
}

.cart-table-view p {
  color: var(--color-1);
  margin: 0;
  line-height: normal;
}

.cart-table-view p.color-secondary-2 {
  color: var(--secondary-color-2);
}

.cart-table-view p.pad-left {
  padding-left: 35px;
}

.cart-table-view a {
  padding: 7px 15px;
  border-radius: 20px;
  line-height: normal;
  color: var(--white);
  font-size: 12px;
}

.dtbl {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.dtd {
  display: table-cell;
  vertical-align: top;
}

.wd-220 {
  width: 220px;
}

.wd-330 {
  width: 330px;
}

.wd-110 {
  width: 110px;
}

.quantity-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.enter-code[type] {
  width: 110px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #373737;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  /* 750% */
  text-transform: capitalize;
  padding: 0 10px;
}

.box-button-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bill-text {
  margin-bottom: 20px;
}

.bill-text h6 {
  color: var(--color-1);
}

.text-shadow {
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.cart-detail-section .element-2 {
  left: -10%;
}

.cart-detail-section .element-3 {
  right: -10%;
  top: -10%;
}

.cart-detail-section .element-rocket {
  left: -12%;
  bottom: -5%;
}

.cart-detail-section .element-4-1 {
  left: -7%;
  bottom: -8%;
}

/*===== TICKET PAGE START ====*/
/* CART SECTION START */

.cartButtonContainer {
  max-width: 950px;
  margin-inline: auto;
  width: 100%;

  margin-bottom: 100px;
}

.cartTabButtons {
  width: 217.781px;
  margin-inline: auto;
  height: 217.781px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.cartTabButtons::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: inherit;
  margin: auto;
  opacity: 0.8;
  transition: all 250ms ease;
}

.tab__button.activated .cartTabButtons::after,
.cartTabButtons:hover::after {
  transform: scale(0);
}

.tab__panel {
  display: none;
}

.tab__panel:nth-of-type(1) {
  display: block;
}

.cartButtonContainer > div:nth-of-type(1) .cartTabButtons::after {
  background-color: #f0c24b;
}

.cartButtonContainer > div:nth-of-type(2) .cartTabButtons::after {
  background-color: #b5d56a;
}

.cartButtonContainer > div:nth-of-type(3) .cartTabButtons::after {
  background-color: #ea7066;
}

button:has(.cartTabButtons) {
  background: none;
}

.cartTabButtons h6 {
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  font-family: var(--ff-Baloo);
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

.cartHeading h4 {
  color: #fff;
  font-family: var(--ff-Baloo) !important;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  text-transform: capitalize;
  margin-bottom: 46px;
  text-align: center;
}

.cartMain {
  background: rgba(255, 253, 253, 0.2);
  border-radius: 50px;
  padding: 50px 30px;
}

.cartTextProp {
  width: 147px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fc6c93;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
  border-radius: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  font-family: var(--ff-Baloo);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  flex-shrink: 0;
  text-transform: capitalize;
}

.cartItemText {
  align-items: center;
  display: flex;
  gap: 20px;
}

.cartItemText h6 {
  color: #fff;
  font-family: var(--ff-Baloo);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cartItemPrice {
  flex: 1 0 auto;
  color: #ffc95d;
  font-family: var(--ff-Baloo);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.cartItemPrice .text__wrap .d-flex {
  margin-bottom: 30px;
}

.cartItemButtons h6 {
  color: #46c9f3;
  font-family: var(--ff-Baloo) !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cartItemButtons select {
  border-radius: 47px;
  background: #fff;
  max-width: 56px;

  color: #2f2f2f;
  font-family: var(--ff-Baloo);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0 12px;
}

.cartContainer:not(:last-child) {
  margin-bottom: 50px;
}

.cartItemButtons button {
  max-width: 160px;
  width: 100%;
  margin-left: auto;
  margin-top: 12px;
  display: block;
}

/* CART SECTION END */

/* GALLERY SECTION START */
.galleryButtons {
  max-width: 683px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 46px;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.galleryGrid .img__wrap {
  text-align: center;
  height: 100%;
  width: 100%;
}

.galleryGrid .img__wrap img {
  height: 100%;
  width: 100%;
}

.span-column-two {
  grid-column: span 2;
}

.span-row-two {
  grid-row: span 2;
}

/* GALLERY SECTION END */
/*===== TICKET PAGE END ====*/

/*===== HOME PAGE START ====*/
.homeBanner {
  background-color: #fdf5f2;
  background-image: url(../images/home/home-bg.png);
  background-position: bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.bannerText h1 {
  color: var(--color-1);
  font-family: var(--ff-Baloo);
  font-size: 46px;
  font-weight: 700;
  line-height: 55px;
  text-transform: capitalize;
  margin-bottom: 17px;
}

.homeBanner p {
  color: #757575;
  font-family: var(--ff-Baloo);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.homeProp-1 {
  --top-spacing: 18%;
}

.homeBanner .img__wrap {
  text-align: right;
}

.homeBanner div:has(> .img__wrap) {
  padding: 0;
}

.homeBanner .prop.prop-middle-center {
  left: 52%;
}

.bannerInfo {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);

  background: url(../images/home/cloud.png) center/cover no-repeat;
  width: 335px;
  height: 226px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 55px;
  scale: 0.95;
}

.bannerInfo .text__wrap p {
  margin-bottom: 0;
}

/* .homeBody header .container {
  max-width: 1290px;
} */

/* HOME ABOUT START */

.homeAboutText {
  max-width: 630px;
  width: 100%;
  margin-left: auto;
}

.homeAboutText .section__heading {
  line-height: 50px;
  /* 125% */
  margin-bottom: 15px;
}

.homeAboutText .section__label {
  margin-bottom: 5px;
}

.homeAboutText p {
  margin-bottom: 12px;
  line-height: 24px;
}

.homeAboutSection {
  position: relative;
  top: -1px;
  padding-top: 0;
}

.aboutStats h6 {
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.aboutStats .percentage {
  width: 60px;
  height: 34.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--ff-Baloo);
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  text-transform: capitalize;
  background: var(--secondary-color-2);
  position: relative;
  margin-bottom: 2px;
}

.aboutStats .d-flex {
  margin-bottom: 10px;
}

.aboutStats {
  margin-bottom: 30px;
}

.aboutStats .percentage::after {
  background: var(--secondary-color-2);
  content: "";
  position: absolute;
  bottom: -9px;
  right: 0;
  clip-path: polygon(99% 0, 0 0, 100% 100%);
  height: 10px;
  width: 10px;
}

.statLine {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: var(--color-1);
}

.statLine div {
  height: 100%;
  display: block;
  border-radius: 6px;
  background: var(--tertiary-color);
}

/* HOME ABOUT END */

/* PROJECT SECTION START */
.projectCard {
  min-height: 361px;
  width: 100%;
  margin-inline: auto;
  border-radius: 20px;
  position: relative;
}

.projectCard .projectCardHover {
  transform: translateY(-100%);
  border-radius: 20px;
  transition: all 300ms ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 43px;

  outline: 1px dashed #fff !important;
  outline-offset: -20px;

  position: absolute;
  inset: 0;
  background: rgba(249, 116, 152, 0.95);
}

.projectCard:hover .projectCardHover {
  transform: translateY(0);
}

.projectCardHover .img__wrap img {
  margin-left: auto;
}

.projectCardHover .img__wrap a {
  display: block;
  width: 100%;
}

.projectSliderContainer {
  position: relative;
}

.projectSliderArrows {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

.projectSliderArrows button i {
  color: #fff;
}

.projectSliderArrows button {
  width: 40px;
  border-radius: 100%;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

.projectSliderArrows .prev {
  background: var(--tertiary-color);
}

.projectSliderArrows .next {
  background: var(--secondary-color);
}

projectCardHover .item:has(.projectCard) {
  max-width: 410px;
  width: 100% !important;
}

.projectSlider .slick-track {
  display: flex;
}

/* PROJECT SECTION END */

/* EXPERIENCE SECTION START */
.experienceSection .img__wrap {
  position: relative;
}

.experienceSection .img__wrap::after {
  content: "20 Years of Experience";
  position: absolute;
  width: 301.75px;
  height: 281.078px;
  border-radius: 20px;
  background: #ffc95d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: var(--ff-Baloo);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 121.5%;
  right: -20px;
  top: -100px;
  /* 48.6px */
}

.experienceText p {
  color: #757575;
  font-family: var(--ff-Baloo);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  /* 176.471% */
  text-transform: capitalize;
}

.experienceText li {
  color: #323663 !important;
  font-family: var(--ff-Baloo);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 166.667% */
  text-transform: capitalize;
  counter-increment: liCounter;
  margin-bottom: 20px;
}

body {
  counter-reset: liCounter;
}

.experienceText li::before {
  content: counter(liCounter);
  color: #fff;
  font-family: Baloo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 211.4%;
  /* 38.052px */
  font-variant: small-caps;
  width: 38px;
  height: 38px;
  background: var(--tertiary-color);
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.expiCards {
  padding: 80px 108px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.expiCards h4 {
  color: #fff;
  font-family: Fredoka One;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* 114.286% */
  text-transform: capitalize;
}

.expiCards span {
  color: var(--tertiary-color);
}

.btn-bor,
.expiCards a {
  padding: 15px 35px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 121.5%;
  border-radius: 100px;
  border: 1px solid #fff;
  /* 19.44px */
}

/* CUSTOM DOTS START*/

.slick-dots li {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

button.slick-arrow {
  display: none !important;
}

.slick-dots {
  top: 105%;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li button {
  display: block;
  background: var(--tertiary-color);
  height: 14px;
  width: 14px;
  border-radius: 100%;

  margin: 0 5px;
  padding: 0;

  transition: width 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: center;
}

.slick-dots li.slick-active button {
  background: var(--secondary-color);
  height: 14px;
  width: 14px;
  border-radius: 100%;
  border: none !important;
}

/* CUSTOM DOTS END */

/* EXPERIENCE SECTION END */

/* ACTIVITY SECTION START */
.activityMainContainer {
  background: #fdf5f2;
}

.activeMain {
  padding: 129px 82px 100px;
  border-radius: 20px;
  background: #fefefe;
  outline: 3px dashed var(--tertiary-color) !important;
  outline-offset: -20px;
}

.activityCards {
  max-width: 330px;
  width: 100%;
  margin-inline: auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin-bottom: 40px;
}

.activityCards .img__wrap {
  margin-bottom: 20px;
  position: relative;
}

.activityCards .img__wrap::after {
  content: url(../images/home/wave.png);
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 10px;
  left: 0;
  right: 0;
}

.activityCards h6 {
  color: #323663;
  font-family: var(--ff-Baloo);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  margin-bottom: 0;
  /* 20.2px */
  text-transform: capitalize;
}

.activityCards p {
  color: #757575;
  font-family: Baloo 2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 214.286% */
  text-transform: capitalize;
}

/* ACTIVITY SECTION END */

/*===== HOME PAGE END ====*/

.cartSectionMain {
  position: relative;
  overflow: hidden;
}

.cartSectionMain:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background: url(../images/tickets/header-before.png) no-repeat top
    center/cover;
  width: 100%;
  height: 88px;
}

.cartSectionMain:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background: url(../images/tickets/header-after.png) no-repeat top center/cover;
  width: 100%;
  height: 84px;
}

.gallerySection {
  position: relative;
  padding-top: 0;
}

.gallerySection .element-1 {
  left: 3%;
  top: 17%;
}

.gallerySection .element-2 {
  left: 1%;
  bottom: 25%;
  top: inherit;
  transform: rotate(28deg);
}

.cartSection {
  position: relative;
  padding-bottom: 70px;
}

.cartSection .element {
  z-index: 1;
}

.cartSection .element-1 {
  left: 2%;
  top: 14%;
}

.cartSection .element-2 {
  right: 2%;
  top: 14%;
  left: inherit;
}

.cartSection .element-3 {
  left: 2%;
  top: -33%;
  bottom: 0;
  margin: auto;
  right: inherit;
}

.cartSection .element-4 {
  right: 2%;
  top: -35%;
  bottom: 0;
  margin: auto;
}

.cartSection .element-5 {
  left: 3%;
  bottom: 25%;
}

.cartSection .element-6 {
  right: 2%;
  bottom: 30%;
}

/* HOME PROPS */
.homeAboutSection .prop.prop-bottom-left.prop-screen-end {
  --bottom-spacing: 8%;
  --inline-spacing: -2%;
}

.homeAboutSection img.prop.prop-top-right.prop-screen-end {
  --top-spacing: 0;
  --inline-spacing: 5%;
}

.homeAboutSection img.prop.prop-bottom-right.prop-screen-end {
  --bottom-spacing: 6%;
  --inline-spacing: 4%;
}

.experienceSection .prop {
  --top-spacing: 64px;
}

.experienceSection img.prop.prop-top-right {
  --inline-spacing: 10%;
}

.activitySection img.prop.prop-bottom-right {
  --bottom-spacing: 14%;
  --inline-spacing: 9%;
}

/* JUMP TICKETS START */
.rectangleBanner {
  min-height: 551px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../images/bg/rectangle-bg.png) center/cover no-repeat;
}

body:has(.rectangleBanner) .site-navigation > ul > li > a {
  color: #fff;
}

body:has(.rectangleBanner) header.sticky-header .site-navigation > ul > li > a {
  color: var(--primary-color);
}

body:has(.rectangleBanner) .site-navigation > ul > li > a.c-btn {
  background: #46c9f3;
}

.rectangleBannerText {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.rectangleBannerText h1 {
  color: #fff;
  text-align: center;
  font-family: var(--ff-Baloo);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  /* 100% */
  text-transform: capitalize;
}

.path a {
  padding-inline: 23px;
  margin-bottom: 0;
  color: #fff;
  font-family: var(--ff-Baloo);
  font-size: 21px;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
}

.path a img {
  margin-right: 5px;
}

.path a:not(:last-child)::after {
  content: "";
  height: 20px;
  width: 1px;
  right: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 9px;
}

.jumpTicketSection {
  min-height: 912.881px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url(../images/bg/jump-bg.png); */
  background: #fdf5f2;
}

div:has(.positioned__img) {
  position: static;
}

section:has(.positioned__img) {
  position: relative;
}

.positioned__img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.positioned__img.right {
  left: unset;
  right: 0;
}

.jumpText {
  padding: 0 0 0 20px;
}

.jumpTicketSection .prop {
  --top-spacing: 10%;
}

/* JUMP TICKETS START */

/* WALL CLIMBING START */
.wallClimbingSection .prop-middle-bottom {
  left: 55%;
}

.wallClimbingSection .positioned__img {
  top: 45%;
}

.wallClimbingSection .prop-top-left {
  --top-spacing: 22px;
}

section:has(+ .wallClimbingSection) .prop-bottom-right {
  --bottom-spacing: 24%;
}

section.wallClimbingSection.spacing__x-150 {
  padding-top: 70px;
}

.propAdjusting {
  --inline-spacing: -28%;
}

/* WALL CLIMBING END */

/* PROMOTION START */
.promotionCards {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  text-align: center;
}

.promotionCards h4 {
  color: #fff;
  font-family: var(--ff-fredoka);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 18px;
  /* 100% */
  text-transform: capitalize;
}

.promotionCards p {
  color: #fff;
  font-size: 22px;
  max-width: 880.695px;
  width: 100%;
  margin-inline: auto;
  font-weight: 400;
  line-height: 35px;
  text-transform: capitalize;
}

.promotionMain {
  padding: 172px 0;
  background: url(../images/promotion-bg.png) center/cover no-repeat;
}

/* PROMOTION END */

/* MEMBERSHIP START */
.membershipBody {
  overflow-x: hidden;
}

.membershipBody img.right-side {
  right: -85%;
}

/* MEMBERSHIP END */

/* WAVIER PAGE START */
.wavierBanner {
  background: #4559b3;
  border-radius: 220px 20px;
}

.wavierBanner p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-transform: capitalize;
}

.gallerySwitchButtons {
  margin-bottom: 58px;
}

.gallerySwitchButtons button {
  max-width: 130px;
  width: 100%;
  display: inline-block;
}

.gallerySwitchButtons button {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  color: #000000 !important;
}

.gallerySwitchButtons button.active {
  color: #fff !important;
  background: var(--secondary-color);
}

.gap-40 {
  gap: 40px;
}

.col-5-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 9px;
}

.col-5-grid .grid__column:nth-of-type(even) {
  padding-top: 20px;
}

.col-5-grid .grid__column:nth-of-type(even) .img__wrap {
  margin-bottom: 20px;
}

.col-5-grid .grid__column .img__wrap {
  margin-bottom: 18px;
}

.gallerySection__5 .prop-top-left {
  --top-spacing: 7%;
  --inline-spacing: 10%;
}

.gallerySection__5 .prop-top-right {
  --top-spacing: 15%;
  --inline-spacing: 9%;
}

/* WAVIER PAGE END */

/* FORM PAGE START */

.leadForm {
  background: var(--primary-color);
  padding: 40px 0 70px;
  border-radius: 20px;
}

.leadForm form {
  max-width: 80%;
  margin-inline: auto;
}

.input__wrap {
  padding: 30px 0;
  border-block: 0.5px solid #d4d4d4;
}

.form--label-wrap {
  /* max-width: 40%; */
  width: 100%;
}

.leadForm .input__wrap input,
.leadForm .input__wrap select {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}

.leadForm .input__wrap input[type="checkbox"],
.leadForm .input__wrap input[type="file"] {
  border: none;
  padding: 0;
  color: #fff;
}

.leadForm .input__wrap input[type="checkbox"] {
  width: 30px;
  height: 30px;

  cursor: pointer;
}

.leadForm .selectValue,
.leadForm label {
  color: #fff;
  font-family: var(--ff-Baloo);
  font-size: 23px;
  font-weight: 600;
  text-transform: capitalize;
}

.leadForm label,
.leadForm p {
  max-width: 100%;
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.leadForm p {
  color: var(--tertiary-color);
  margin-bottom: 5px;
  font-weight: 600;
}

.leadForm .row .input__wrap {
  border: none;
}

.leadForm .input__wrap:has(input:checked) ~ .hidden {
  display: block;
}

.leadForm .hidden {
  display: none;
}

.leadForm .input__wrap div:not(.form--label-wrap) {
  position: relative;
  padding-bottom: 10px;
}

.selectValue {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 16px !important;
}

/* FORM PAGE END */

.activitySection img.prop.prop-top-left {
  --top-spacing: 30%;
}

@media only screen and (max-width: 1660px) {
  .prop,
  .prop.prop-screen-end {
    --inline-spacing: 1%;
    scale: 0.8;
  }

  .jumpTicketSection {
    background: #fdf5f2;
  }

  .jumpTicketSection {
    padding: 40px 0;
  }

  .jumpTicketSection .row {
    justify-content: center;
  }

  .jumpTicketSection .prop {
    display: none;
  }
}

@media only screen and (max-width: 1660px) {
  html,
  body {
    overflow-x: hidden;
  }

  .prop,
  .prop.prop-screen-end {
    --top-spacing: 3%;
    --bottom-spacing: 1%;
    scale: 0.6;
  }

  .projectCard {
    background-position: center;
    background-size: cover;
  }

  .positioned__img {
    opacity: 0.6;
    z-index: -1;
  }

  .addBg {
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
  }

  .projectSeaction img.prop.prop-top-right {
    --top-spacing: none;
  }

  .experienceSection img.prop.prop-top-right {
    --inline-spacing: 5%;
  }

  .activitySection img.prop.prop-bottom-right {
    --inline-spacing: 5%;
  }
}

@media only screen and (max-width: 1360px) {
  .activitySection img.prop.prop-bottom-right,
  .activitySection img.prop.prop-top-left {
    --inline-spacing: -40px;
  }

  .homeBanner .prop-top-left,
  .homeBanner .prop-top-right {
    --top-spacing: 12%;
  }
}

@media only screen and (max-width: 1100px) {
  .experienceSection .prop {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .prop,
  .prop.prop-screen-end {
    scale: 0.6;
    --bottom-spacing: 3%;
  }

  .experienceSection img.prop.prop-top-left {
    display: none;
  }

  .row {
    gap: 20px;
  }

  .galleryGrid {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .galleryButtons {
    flex-direction: column;
  }

  .gallerySection .element-2,
  .gallerySection .element-1 {
    display: none;
  }

  .expiCards {
    padding: 20px 30px;
  }

  .activitySection img.prop.prop-bottom-right,
  .activitySection img.prop.prop-top-left {
    --inline-spacing: 1%;
  }

  .activitySection img.prop.prop-top-left {
    --top-spacing: 10%;
  }

  .bannerInfo {
    left: 20%;
  }

  .homeBanner .img__wrap {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .gallerySwitchButtons {
    flex-direction: column;
    gap: 10px;
  }

  .spacing__x-150 {
    padding: 70px 0;
  }

  .leadForm form {
    max-width: 90%;
  }

  .gallerySwitchButtons button {
    max-width: 95%;
  }

  .fs-60 {
    font-size: 50px;
  }

  .col-5-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .col-5-grid .grid__column:nth-of-type(even) {
    padding-top: 0;
  }

  .col-5-grid .grid__column {
    display: flex;
    flex-wrap: wrap;
  }

  .element-1,
  .element-2,
  .element-3,
  .element-4,
  .element-5,
  .element-6,
  .element-7,
  .element-8,
  .bannerInfo,
  .element,
  .prop {
    display: none;
  }

  .formButton {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  .formButton .row h6 {
    width: 100%;
    text-align: center;
  }

  .formButton .row h6 + a {
    width: 90%;
    text-align: center;
  }

  .formButton .row {
    justify-content: center !important;
  }
}
